<div class="row" style="margin-top: 3em;">
    <div class="col-3">
        <div class="list-group">
            <ul>
                <li><a routerLink="indian">Indian</a></li>
                <li><a routerLink="chinese">Chinese</a></li>
                <li><a routerLink="italian">Italian</a></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of chinese$ | async; let i = index">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img [src]="p.imageurl" class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            <p class="card-text">{{ p.price | currency:'USD': true }}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i+1)%3 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>