<p>admin-users works!</p>
  <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">id</th> -->
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <!-- <td>{{post.id}}</td> -->
          <td>{{post.name}}</td>
          <td>{{post.email}}</td>
          <td>{{post.password}}</td>
        </tr>
      </tbody>
    </table>
  